@page
@model E85Carbs.WebServer.Pages.CustomerBuilds.CustomerBuildsModel
@{
}
    <h2 class="text-center text-info">
        Customer Projects
    </h2>
<div class="text-center">
    <h3 style=" ">
        Harry B. 468ci 871 Nova Switched to E85carbs E85 9/29/2021
    </h3>
    <img src="~/images/BlackNovaFront.jpg" class="img-fluid" style="border-radius:10px" />
    <img src="~/images/BlackNovaGrass.jpg" class="img-fluid" style="border-radius:10px" />

</div>