@page "{id}"
@model E85Carbs.WebServer.Pages.Makes.DeleteMakeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete Make";
}

<h1>@ViewData["Title"]</h1>



<h3>Are you sure you want to delete this?</h3>


<div class="table-responsive">
    <table class="table table-striped make">
        <thead>
            <tr>
                <th>Make</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.make.MakeName
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <form method="post" asp-page-handler="Delete">
        <input type="hidden" asp-for="@Model.make.MakeName" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Makes/MakesMenu">Back to Make Menu</a>
    </form>
</div>