@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome To E85CARBS</h1>
</div>

<div>
    <img src="\images\_MG_5692r.jpg" class="img-fluid" style="border-radius:10px" >
</div>


